.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.codeBox {
  display: flex;
  height: 100%;
  overflow: hidden;

  &>div {
    flex: 1;
    padding: 20px;
    width: 50%;
    height: 100%;
    overflow: hidden;

    textarea {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      outline: none !important;
      height: 100% !important;
      border: 1px solid #eeeeee !important;
    }

    &>div {
      height: 100%;


    }


  }
}

.buttonBox {
  margin-left: 20px;
}
